/* Navigation */
nav {
  background-color: #333;
  padding: 1rem;
}
nav a {
  color: white;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
}

/* Headings */
h1 {
  color: #222;
}

/* image */
img {
  width: 200px;
  height: auto;
  border: 2px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

/* Main */
main {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

/* Aside */
aside {
  width: 300px;
  margin: 1rem auto;
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
}
aside img {
  width: 200px;
  height: auto;
}

/* Paragraphs */
p {
  padding: 0;
}

/* Footer */
footer {
  margin-top: 2rem;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
}